#
# Edit the following variables as needed for your environment
#
GROUP_NAME=ClusterName
ADMIN_USERNAME=Username
ADMIN_PASSWORD=Password
RHN_USERNAME=MyUsername
RHN_PASSWORD=MyPassword
RHN_POOL_ID=RHNPoolID
AZURE_AD_NAME=$GROUP_NAME
AZURE_AD_APP_ID=MyAzureAppID
AZURE_AD_SECRET=MyAzureAppPassword

#
# Advanced Users Only - Change only as needed with Red Hat account team assistance only
#
PARMS_TEMPLATE_FILE=azure_parameters.json.template
PARMS_FILE="azure_parameters.json"
OCP_ARM_TEMPLATE="https://raw.githubusercontent.com/openshift/openshift-windows/master/3.11/azure/twonode.json"
SSH_KEYFILE=id_rsa
AAD_CLIENT_ID=
AAD_SECRET_ID=
SSH_PUBLIC=
SSH_PRIVATE_BASE64=

